.body-container{
    /* background-color: #2E3136; */
    width: auto;
    height: 92.4vh;
    /* position: arelative; */
}

@media only screen and (max-width: 1536px) {
    .body-container{
        width: auto;
        height: 93.15vh;
    }
}