.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 50vh !important; */
    min-width: 670px;
    background-image: url("../page/assets/Home/bg.jpg");
}

@media screen and (max-width: 480px){
    .home-container {
        min-width: 390px;
    }
}